.active {
    background-color: rgba(14, 122, 129,0.1);
   color: black;
   border: 2px solid rgba(14, 122, 129);
   border-radius: 45px;
    /* color: #fff; */
  }

/* .btn-clk2,.btn-clk-3:hover{
  background-color: rgba(14, 122, 129);
   
  color: #fff;
} */
.btn-clk3:hover{
  background-color: rgba(14, 122, 129);
  border: 1px solid black;
  color: #fff;
}
  .btn-clk2:hover{
  background-color: rgba(14, 122, 129);
  border: 1px solid black;
  color: #fff;
}
  .btn-clk1:hover{
  background-color: white;
  border: 1px solid rgba(14, 122, 129);
  color: black;
}
#sortPrice:hover{
  color: black;
}
.view:hover{
  color: black;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}